//rvl_alias "CLKOK" "counter1/clk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
//IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
//LOCATE COMP "seg_1" SITE "C10" ;
//LOCATE COMP "seg_5" SITE "D10" ;
//LOCATE COMP "seg_6" SITE "C9" ;
//LOCATE COMP "seg_7" SITE "T17" ;
//LOCATE COMP "seg_8" SITE "U16" ;
//LOCATE COMP "clk" SITE "F2" ;
//IOBUF PORT "seg_1" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF ;
//LOCATE COMP "reset" SITE "U17" ;
//IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
//LOCATE COMP "direction" SITE "U18" ;
//LOCATE COMP "LOCK" SITE "T18" ;
//LOCATE COMP "seg_9" SITE "R18" ;
//LOCATE COMP "seg_10" SITE "U19" ;
//LOCATE COMP "seg_11" SITE "T19" ;
//LOCATE COMP "seg_12" SITE "U20" ;
//LOCATE COMP "seg_13" SITE "R20" ;
//LOCATE COMP "seg_14" SITE "T20" ;
//LOCATE COMP "seg_15" SITE "P20" ;
//LOCATE COMP "seg_16" SITE "P18" ;
//OUTPUT PORT "LOCK" LOAD 0.000000 pF ;
//FREQUENCY NET "clk_c" 100.000000 MHz ;
//INPUT_SETUP ALLPORTS 10.000000 ns CLKPORT "clk" ;
//INPUT_SETUP PORT "reset" 10.000000 ns CLKPORT "clk" ;
//SYSTEM_JITTER 0.100 ns ; 
//LOCATE COMP "I[0]" SITE "H12" ;
IOBUF PORT "serial_clk" IO_TYPE=LVDS DRIVE=NA ;
IOBUF PORT "IQSerializer_0_serial_N" IO_TYPE=LVDS ;
IOBUF PORT "clk_4M" IO_TYPE=LVCMOS18 ;
//IOBUF PORT "pll_clki" IO_TYPE=LVCMOS25 ;
IOBUF PORT "pll_clko" IO_TYPE=LVCMOS18 ;
LOCATE COMP "serial_clk" SITE "N1" ;
LOCATE COMP "clk_in" SITE "M2" ;
LOCATE COMP "pll_clko" SITE "J2" ;
LOCATE COMP "IQSerializer_0_serial_N" SITE "L1" ;
IOBUF PORT "clk_in" IO_TYPE=LVCMOS25 ;
IOBUF PORT "POR_N" IO_TYPE=LVCMOS25 ;
INPUT_SETUP ALLPORTS 0.000000 ns CLKNET "pll_clko_0" ;
INPUT_SETUP PORT "POR_N" 16.000000 ns CLKNET "pll_clko_0" ;
FREQUENCY NET "pll_clko_0" 64.000000 MHz ;
