LOCATE COMP "top_rst_n" SITE "T6" ;
IOBUF PORT "top_rst_n" IO_TYPE=LVCMOS18 ;
LOCATE COMP "top_clk" SITE "M2" ;
IOBUF PORT "top_clk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "osc_en" SITE "T2" ;
IOBUF PORT "osc_en" IO_TYPE=LVCMOS25 ;
//Serializer Pins
LOCATE COMP "serial_iq" SITE "L1" ;
IOBUF PORT "serial_iq" IO_TYPE=LVDS DRIVE=NA ;
LOCATE COMP "serial_clk" SITE "N1" ;
IOBUF PORT "serial_iq" IO_TYPE=LVDS DRIVE=NA ;
//Test and GPIOs
LOCATE COMP "LED" SITE "B1" ;
IOBUF PORT "LED" IO_TYPE=LVCMOS18 ;
LOCATE COMP "clk_test" SITE "G16" ;
IOBUF PORT "clk_test" IO_TYPE=LVCMOS18 ;
//Config
SYSCONFIG CONFIG_IOVOLTAGE=1.8 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=2.4 CONFIG_MODE=JTAG WAKE_UP=21 COMPRESS_CONFIG=ON ;
PERIOD PORT "top_clk" 31.250000 ns ;
BLOCK JTAGPATHS ;
FREQUENCY NET "my_pll_instance/CLKIt" 32.000000 MHz ;
BLOCK RESETPATHS ;
